<mat-toolbar color="primary">
    <a routerLink="/home">
        <button mat-button>{{appName}}</button> </a>
    <a routerLink="/materias" routerLinkActive="active">
        <button mat-button>Materias</button> </a>
    <a routerLink="/salones" routerLinkActive="active">
        <button mat-button>Salones</button> </a>
    <span class="fill-remaining-space"></span>

    <a *ngIf="this.AuthSvc.statusLogin; else showLogin" (click)="onLogOut()">
        <button mat-button>Logout</button>
    </a>
        
    <ng-template #showLogin>
        <a routerLink="/login" routerLinkActive="active">
            <button mat-button>Login</button>
        </a>
    </ng-template>
    <!-- routerLink="/contacto" --> 
    <a routerLinkActive="active">
        <button mat-button>Contacto</button> </a>
</mat-toolbar>

