<p>home works!</p>
<h1>Asignación y Disponibilidad de salones - Facultad de Salud - Unicauca</h1>
<p>Idea de front-end
    Tres divisiones en pantalla
    1- panel arriba (header) :
        - Horario por salón
        - Horario por día 
        - Solicitudes (trabajo futuro)
        - crear (para admin y coordinadores)
    2- panel izquierda : despliega opciones para cada header
        - Horario por salón: Nombre de salones
        - Horario por día: lunes a sábado
        - Solicitudes (trabajo futuro)
        - crear (para admin y coordinadores): Salón, Profesor, Materia
    3- panel contenido :

        - Horario por salón: lunes-sabado vs 7am-7pm
        - Horario por día: salones vs 7am-7pm
        - Solicitudes (trabajo futuro)
        - crear (para admin y coordinadores): Datos para crear Objeto
</p>